<div class="wrapper">
  <div class="container text-center">
    <h1><%= @cocktail.name %></h1>
    <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class:"cocktail-list-link" %>
  </div>
</div>
